<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>

<body>
    <header>
        <nav>
            <div class="left">Profit Prediction</div>
            <div class="right">
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                </ul>
            </div>
        </nav>
        <div class="nav-header"></div>
        <div class="nav-right">
            <div>
    </header>


    <!-- <section class="firstsection">
            <div class="leftsection">
                Hi, We are team <span class="Purple">Maoris</span>
                <span id="element"></span>
            </div>
            <div class="rightsection">
                <img src="images/kisspng-software-developer-computer-software-web-developme-web-amp-mobile-app-analytics-platform-for-develo-5d32885dc83d30.2176655015635927978202.png"
                    alt="Picture">
            </div>
        </section> -->


    <div class="cnc">
        <img src="static/images/profit.jpeg" alt="Pic">
    </div>
    <div class="cen">
        <p style="font-size: 25px;">Project Overview: </p><br><br>

        Predictive Profit Analysis for Marketing Companies

        In our project, we are developing a sophisticated solution that empowers marketing companies to
        predict their profits with precision. Leveraging advanced Machine Learning (ML) techniques and the user-friendly
        Flask web framework, our system enables stakeholders to make informed decisions by analyzing crucial factors
        such as Research and Development (R&D) spend, Administration, and Marketing expenditures.
        <br><br>
        Key Components:
        <br><br>
        1. Data-Driven Insights: Our project begins with a meticulous analysis of historical data, unraveling hidden
        patterns and trends in R&D spend, Administration, and Marketing expenses. Through comprehensive preprocessing,
        we ensure the data is primed for training our ML model.
        <br><br>
        2. Machine Learning Magic: Employing state-of-the-art ML algorithms, we construct a powerful predictive
        model that learns from past data to establish meaningful correlations. This model is the engine driving accurate
        profit predictions based on various input scenarios.
        <br><br>
        3. Flask-Powered Web Interface: The heart of our solution lies in the Flask web application—a sleek,
        user-friendly platform where stakeholders can input specific values for R&D, Administration, and Marketing
        spend. The application seamlessly processes these inputs, generating real-time profit predictions.
        <br><br>
        4. User Empowerment: Our solution doesn't just provide predictions; it empowers users with insights. Through
        a clear and intuitive interface, stakeholders can visualize and interpret predicted profits based on different
        combinations of expenditures, aiding in strategic decision-making.
        <br><br>
        5. Scalability and Efficiency: We've designed our ML model and Flask application to be scalable and
        efficient, ensuring optimal performance even as data volumes and user interactions increase.
        <br><br>
        6. Model Transparency: Transparency is key. Our system incorporates model interpretability tools, allowing
        users to understand the factors influencing profit predictions. This transparency fosters trust and facilitates
        strategic decision-making.
        <br><br>
        7. Deployment for Impact: The final product is not just a prototype—it's a deployable solution accessible
        via a web browser. This deployment ensures widespread accessibility, empowering businesses to optimize their
        financial strategies and enhance overall performance.
        <br><br>
        Our project utilises data analysis, machine learning, and web development to provide a
        comprehensive and user-friendly solution. With our system, marketing companies can embrace predictive analytics,
        gaining a competitive edge in navigating the complexities of the modern business landscape.
    </div>
    <main>
        <!-- <hr> -->

        <!-- <section class="secondsection">
            <span class="text-gray">What i have studies so far.</span>
            <h1>Education</h1>

            <div class="box">
                <div class="vertical">
                    <img class="image-school" src="images/pngwing.com.png" alt="School Image">
                </div>
                <div class="vertical">
                    <img src="images/college-building-clipart-xl.png" alt="Collage Image" class="image-jrclg">
                </div>
                <div class="vertical">
                    <img src="images/college.png" alt="Collage" class="image-clg">
                </div>
            </div>
        </section> -->
    </main>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        <!-- var typed = new Typed('#element', {
            strings: ['Web Devoloper', 'Website Designer', 'and a CSE Student'],
            typeSpeed: 150,
        }); -->
    </script>

</body>

</html>